body {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    background: no-repeat;
    background-image: url();
}
a {
    text-decoration: none;
    margin-left: 10px;
}

.card {
    background-color: rgb(236, 214, 90);
    display: flex;
    flex-wrap: wrap;
}

.card-delete {
    color: red;
}
.card-edit {
    color: blue;
}
